(
  axes: {
    "move_x": Emulated(pos: Key(D), neg: Key(A)),
    "move_y": Emulated(pos: Key(S), neg: Key(W)),
    "dpad_x": Emulated(pos: Controller(0, DPadRight), neg: Controller(0, DPadLeft)),
    "dpad_y": Emulated(pos: Controller(0, DPadDown), neg: Controller(0, DPadUp)),
    "left_x": Controller(controller_id: 0, axis: LeftX, invert: false, dead_zone: 0.0),
    "left_y": Controller(controller_id: 0, axis: LeftY, invert: false, dead_zone: 0.0),

    "right_x": Controller(controller_id: 0, axis: RightX, invert: false, dead_zone: 0.0),
    "right_y": Controller(controller_id: 0, axis: RightY, invert: false, dead_zone: 0.0),
  },
  actions: {
    "shot": [[Mouse(Left)], [Controller(0, A)], [Controller(0, Y)], [Controller(0, RightShoulder)]],
    "hold": [[Controller(0, B)], [Controller(0, X)], [Controller(0, LeftShoulder)]],
  },
)
