#![enable(implicit_some)]
Prefab (
    entities: [
        // player
        (
            data: (
                transform: (translation: (40.0, 40.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 2),
                player: (team: 0, weapon: 0, hp: 100.0),
                playable: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 0,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 1),
                reticle: (),
            ),
        ),
        (
            parent: 0,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),

        // camera
        (
            parent: 0,
            data: (
                transform: (translation: (-160.0, -120.0, 100.0)),
                camera: Orthographic((
                    left: 0.0,
                    right: 320.0,
                    bottom: 240.0, // Y axis reversed
                    top: 0.0,
                    znear: 0.1,
                    zfar: 2000.0,
                )),
            ),
        ),


        // ai
        (
            data: (
                transform: (translation: (80.0, 80.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 2),
                player: (team: 0, weapon: 0, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 4,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),
        (
            data: (
                transform: (translation: (560.0, 80.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 2),
                player: (team: 0, weapon: 1, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 6,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),
        (
            data: (
                transform: (translation: (80.0, 400.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 2),
                player: (team: 0, weapon: 2, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 8,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),

        // enemies
        (
            data: (
                transform: (translation: (560.0, 400.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 3),
                player: (team: 1, weapon: 0, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 10,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),
        (
            data: (
                transform: (translation: (560.0, 400.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 3),
                player: (team: 1, weapon: 0, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 12,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),
        (
            data: (
                transform: (translation: (560.0, 400.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 3),
                player: (team: 1, weapon: 1, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 14,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),
        (
            data: (
                transform: (translation: (560.0, 400.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 3),
                player: (team: 1, weapon: 1, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 16,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),
        (
            data: (
                transform: (translation: (560.0, 400.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 3),
                player: (team: 1, weapon: 2, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 18,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),
        (
            data: (
                transform: (translation: (560.0, 400.0, 0.0)),
                rigidbody: (drag: 0.2),
                sprite: (sprite_number: 3),
                player: (team: 1, weapon: 2, hp: 100.0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 20,
            data: (
                transform: (translation: (0.0, 0.0, 1.0)),
                sprite: (sprite_number: 10),
                shield: (),
            ),
        ),

        // spawn point
        (
            data: (
                transform: (translation: (64.0, 64.0, 0.0), scale: (4.0, 4.0, 1.0)),
                sprite: (sprite_number: 8),
                spawn_point: (team: 0),
            ),
        ),
        (
            data: (
                transform: (translation: (576.0, 416.0, 0.0), scale: (4.0, 4.0, 1.0)),
                sprite: (sprite_number: 9),
                spawn_point: (team: 1),
            ),
        ),
    ],
)
