#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                transform: (translation: (36.0, 36.0, 0.0)),
                rigidbody: (drag: 0.5),
                sprite: (sprite_number: 0),
                player: (team: 0, weapon: 0),
                playable: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            parent: 0,
            data: (
                transform: (translation: (36.0, 36.0, 0.0)),
                sprite: (sprite_number: 3),
                reticle: (),
            ),
        ),
        (
            data: (
                transform: (translation: (36.0, 400.0, 0.0)),
                rigidbody: (drag: 0.5),
                sprite: (sprite_number: 0),
                player: (team: 0, weapon: 0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            data: (
                transform: (translation: (500.0, 36.0, 0.0)),
                rigidbody: (drag: 0.5),
                sprite: (sprite_number: 1),
                player: (team: 1, weapon: 0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
        (
            data: (
                transform: (translation: (480.0, 400.0, 0.0)),
                rigidbody: (drag: 0.5),
                sprite: (sprite_number: 1),
                player: (team: 1, weapon: 0),
                ai: (),
                collider: (tag: "Player", width: 16.0, height: 16.0),
            ),
        ),
    ],
)