#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        percent: true,
        width: 1.0, // percent???
        height: 1.0,
    ),
    children: [
        Text(
            transform: (
                id: "fps_text",
                anchor: TopLeft,
                x: 40.0,
                y: -15.0,
                width: 80.0,
                height: 30.0,
                transparent: true,
            ),
            text: (
                text: "N/A",
                font_size: 12.0,
                color: (1.0, 1.0, 1.0, 1.0),
            ),
        ),
        Image(
            transform: (
                id: "title",
                percent: true,
                width: 1.0,
                height: 1.0,
            ),
            image: (
                image: File("texture/title.png", Png, (channel: Srgb)),
            )
        ),
        Text(
            transform: (
                id: "score_0",
                anchor: TopLeft,
                percent: true,
                x: 0.25,
                y: -0.125,
                width: 0.5,
                height: 0.25,
            ),
            text: (
                text: "100",
                font_size: 100.0,
                color: (0.0, 0.0, 1.0, 1.0),
            ),
        ),
        Text(
            transform: (
                id: "score_1",
                anchor: TopRight,
                percent: true,
                x: -0.25,
                y: -0.125,
                width: 0.5,
                height: 0.25,
            ),
            text: (
                text: "100",
                font_size: 100.0,
                color: (1.0, 0.0, 0.0, 1.0),
            ),
        ),
    ],
)
