#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        percent: true,
        width: 1.0, // percent???
        height: 1.0,
    ),
    children: [
        Text(
            transform: (
                id: "fps_text",
                anchor: TopLeft,
                x: 40.0,
                y: -15.0,
                width: 80.0,
                height: 30.0,
                transparent: true,
            ),
            text: (
                text: "N/A",
                font_size: 12.0,
                color: (1.0, 1.0, 1.0, 1.0),
            ),
        ),
        Image(
            transform: (
                id: "title",
                percent: true,
                width: 1.0,
                height: 1.0,
            ),
            image: (
                image: File("texture/title.png", Png, (channel: Srgb)),
            )
        ),
        Image(
            transform: (
                id: "menu1",
                percent: true,
                width: 1.0,
                height: 1.0,
                hidden: true,
            ),
            image: (
                image: File("texture/menu1.png", Png, (channel: Srgb)),
            )
        ),
        Image(
            transform: (
                id: "menu2",
                percent: true,
                width: 1.0,
                height: 1.0,
                hidden: true,
            ),
            image: (
                image: File("texture/menu2.png", Png, (channel: Srgb)),
            )
        ),
        Image(
            transform: (
                id: "menu3",
                percent: true,
                width: 1.0,
                height: 1.0,
                hidden: true,
            ),
            image: (
                image: File("texture/menu3.png", Png, (channel: Srgb)),
            )
        ),
        Image(
            transform: (
                id: "bluewin",
                percent: true,
                width: 1.0,
                height: 1.0,
                hidden: true,
            ),
            image: (
                image: File("texture/bluewin.png", Png, (channel: Srgb)),
            )
        ),
        Image(
            transform: (
                id: "redwin",
                percent: true,
                width: 1.0,
                height: 1.0,
                hidden: true,
            ),
            image: (
                image: File("texture/redwin.png", Png, (channel: Srgb)),
            )
        ),
    ],
)
