WeaponList (
    list: [
        (
            move_speed: 1.0,
            rate: 18,
            recoil: 15.0,
            bullet_sprite: 4,
            bullet_spread: 0.05,
            bullet_speed: 3.0,
            bullet_drag: 0.0,
            bullet_bounciness: 0.8,
            bullet_friction: 0.0,
            bullet_collider: (4.0, 4.0),
            bullet_timer_limit: 150,
            bullet_reflect_limit: 2,
        ),
        (
            move_speed: 2.0,
            rate: 3,
            recoil: 3.0,
            bullet_sprite: 6,
            bullet_spread: 0.3,
            bullet_speed: 5.0,
            bullet_drag: 0.0,
            bullet_bounciness: 1.0,
            bullet_friction: 0.0,
            bullet_collider: (4.0, 4.0),
            bullet_timer_limit: 50,
            bullet_reflect_limit: 1,
        ),
        (
            move_speed: 1.0,
            rate: 2,
            recoil: 0.0,
            bullet_sprite: 5,
            bullet_spread: 0.3,
            bullet_speed: 5.0,
            bullet_drag: 0.02,
            bullet_bounciness: 1.0,
            bullet_friction: 1.0,
            bullet_collider: (6.0, 6.0),
            bullet_timer_limit: 60,
            bullet_reflect_limit: 1,
        ),
    ]
)
