WeaponList (
    list: [
        (
            move_speed: 0.3,
            rate: 18,
            bullet_sprite: 4,
            bullet_spread: 0.05,
            bullet_speed: 3.0,
            bullet_drag: 0.0,
            bullet_bounciness: 0.8,
            bullet_friction: 0.0,
            bullet_collider: (4.0, 4.0),
            bullet_timer_limit: 150,
            bullet_reflect_limit: 2,
            bullet_knockback: 10.0,
            bullet_slowing: 0.0,
            bullet_pierce: false,
        ),
        (
            move_speed: 0.4,
            rate: 5,
            bullet_sprite: 6,
            bullet_spread: 0.15,
            bullet_speed: 4.0,
            bullet_drag: 0.0,
            bullet_bounciness: 1.0,
            bullet_friction: 0.0,
            bullet_collider: (4.0, 4.0),
            bullet_timer_limit: 50,
            bullet_reflect_limit: 1,
            bullet_knockback: 5.0,
            bullet_slowing: 1.0,
            bullet_pierce: false,
        ),
        (
            move_speed: 0.3,
            rate: 3,
            bullet_sprite: 8,
            bullet_spread: 0.3,
            bullet_speed: 4.0,
            bullet_drag: 0.02,
            bullet_bounciness: 1.0,
            bullet_friction: 1.0,
            bullet_collider: (8.0, 8.0),
            bullet_timer_limit: 55,
            bullet_reflect_limit: 1,
            bullet_knockback: 0.0,
            bullet_slowing: 0.1,
            bullet_pierce: true,
        ),
    ]
)
