(
    spritesheet_width: 144,
    spritesheet_height: 64,
    sprites: [
        // wall
        (
            x: 0,
            y: 0,
            width: 32,
            height: 32,
        ),
        // reticle
        (
            x: 0,
            y: 32,
            width: 32,
            height: 32,
        ),

        // player1
        (
            x: 32,
            y: 0,
            width: 16,
            height: 16,
        ),
        // player2
        (
            x: 32,
            y: 16,
            width: 16,
            height: 16,
        ),

        // bullet1
        (
            x: 48,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 48,
            y: 16,
            width: 16,
            height: 16,
        ),

        // bullet2
        (
            x: 64,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 64,
            y: 16,
            width: 16,
            height: 16,
        ),

        // bullet3
        (
            x: 80,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 80,
            y: 16,
            width: 16,
            height: 16,
        ),
    ],
)
